-r requirements.txt
pytest>=3.6
pytest-asyncio

# jupyterhub dev dependencies
attrs>=17.4.0
codecov
coverage
cryptography
mock
notebook
pytest-cov
requests-mock
# blacklist urllib3 releases affected by https://github.com/urllib3/urllib3/issues/1683
# I *think* this should only affect testing, not production
urllib3!=1.25.4,!=1.25.5
virtualenv
